/* background behind the logo*/
#header {
    background: #2a2a2a;
    border-color:#3f3f3f;
}

/* Background color of the menu */
#sidebar {
  background-color: #2a2a2a;
}

/* Background color of the menu, when clicked 
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: <color>;
}

/* Color of all links, including arrows to get to previous and next pages 
a {
    color: <color>;
}
a:hover {
   color: <color>;
}
*/