[submodule "vendor/github.com/coreos/go-systemd"]
	path = vendor/github.com/coreos/go-systemd
	url = https://github.com/coreos/go-systemd
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "vendor/github.com/docker/go-plugins-helpers"]
	path = vendor/github.com/docker/go-plugins-helpers
	url = https://github.com/docker/go-plugins-helpers
[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/docker/docker
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
