[submodule "vendor/github.com/coreos/go-systemd"]
	path = vendor/github.com/coreos/go-systemd
	url = https://github.com/coreos/go-systemd
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "vendor/github.com/docker/go-plugins-helpers"]
	path = vendor/github.com/docker/go-plugins-helpers
	url = https://github.com/docker/go-plugins-helpers
