[submodule "vendor/github.com/coreos/go-systemd"]
	path = vendor/github.com/coreos/go-systemd
	url = https://github.com/coreos/go-systemd
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "vendor/github.com/docker/go-plugins-helpers"]
	path = vendor/github.com/docker/go-plugins-helpers
	url = https://github.com/docker/go-plugins-helpers
[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/docker/docker
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/b4rti/go-fuse"]
	path = vendor/github.com/b4rti/go-fuse
	url = https://github.com/b4rti/go-fuse
[submodule "vendor/github.com/ulikunitz/xz"]
	path = vendor/github.com/ulikunitz/xz
	url = https://github.com/ulikunitz/xz
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://golang.org/x/sys
